<div class="container mt-4">
  <h4 class="mb-3">
    Assign Professionals for: {{ selectedEvent?.name }}
  </h4>

  <form (ngSubmit)="assignSelectedProfessionals()">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>
            <input type="checkbox" (change)="toggleSelectAll($event)" />
          </th>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professionals; let i = index">
          <td>
            <input type="checkbox" (change)="onCheckboxChange(prof, $event)" [checked]="isChecked(prof)" />
            <!-- isChecked(prof) will check whether that prof is selected or not (present in selectedProfessionals list) and returns boolean -->
          </td>
          <td>{{ i + 1 }}</td>
          <td>{{ prof.username }}</td>
          <td>{{ prof.email }}</td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary mt-3">
      Add Selected Professionals
    </button>
  </form>

  <div *ngIf="assignedProfessionals.length" class="alert alert-success mt-3">
    Assigned Professionals to {{ selectedEvent?.name }}:
    <ul>
      <li *ngFor="let p of assignedProfessionals">
        {{ p.username }} ({{ p.email }})
      </li>
    </ul>
  </div>
</div>