<div>
  <h2 class="mb-3 text-center text-primary mt-2">{{ event.title }}</h2>
  <div class="container mt-5 p-4 shadow rounded bg-white">
    <div class="row">
      <div class="col-md-5 d-flex align-items-center justify-content-center">
        <img src="assets/Feedback.png" class="img-fluid">
      </div>

      <!-- Right Column: Feedback Form -->
      <div class="col-md-7">
        <p class="text-muted mb-3">{{ event.description }}</p>
        <form [formGroup]="feedbackForm" (ngSubmit)="SubmitFeedback()">
          <div class="mb-3">
            <label for="content" class="form-label fw-bold">Your Feedback</label>
            <textarea formControlName="content" id="content" class="form-control" rows="5"
              placeholder="Share your thoughts..."></textarea>
            <div *ngIf="feedbackForm.get('content')?.invalid && feedbackForm.get('content')?.touched"
              class="text-danger mt-1">
              Feedback must be at least 10 characters.
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="feedbackForm.invalid">Submit Feedback</button>
          <div *ngIf="success" class="submit">
            Feedback Submitted Successfully!!
          </div>
        </form>
      </div>
    </div>
  </div>
</div>