.event-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.event-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-body > .card-subtitle{
  display:flex;
  // flex-direction: column;
  gap: 10px;
}
.searchbar{
  // height: 10px;
  width: 53vh;
}



.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16 / 9;
  transition: scale(1.05);
}

.card-body h5{
  font-weight: bold;
  color: #333;
}

.card-footer button{
  width: 100%;
  transition: background-color 0.3s ease;
}

.card-footer button:hover{
  background-color: #0056b3;
  color:#fff
}
.card-text {
  font-size: 0.9rem;
  color: #555;

}

.badge {
  font-size: 0.85rem;
  padding: 6px 12px;
}
.scarchbar{
  width: 53vh;
  
}