<!-- <app-navbar></app-navbar> -->
<home-navbar></home-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-6 left-panel">
      <h3>Welcome to Event Manager</h3>
      <p>Create and manage your institution's events with ease.</p>
      <img src="assets/undraw_add-notes_9xls.png" alt="illustration" width="400px" class="img-fluid">

      <!-- <div class="mt-4">
        <i class="bi bi-facebook mx-2"></i>
        <i class="bi bi-twitter mx-2"></i>
        <i class="bi bi-instagram mx-2"></i>
      </div> -->
    </div>

    <div class="col-md-6 m-y-10 form-section">
      <h2>{{ updateId ? 'Edit Event' : 'Create Event' }}</h2>
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-floating-label">
          <input type="text" formControlName="title" placeholder=" " required
            [class.is-invalid]="itemForm.get('title')?.touched && itemForm.get('title')?.invalid">
          <label>Title</label>
          <div class="text-danger" *ngIf="itemForm.get('title')?.touched && itemForm.get('title')?.invalid">
            Title is required</div>
        </div>

        <div class="form-floating-label">
          <textarea formControlName="description" placeholder=" " rows="3" required
            [class.is-invalid]="itemForm.get('description')?.touched && itemForm.get('description')?.invalid"></textarea>
          <label>Description</label>
          <div class="text-danger" *ngIf="itemForm.get('description')?.touched && itemForm.get('description')?.invalid">
            Description is required</div>
        </div>

        <div class="form-floating-label">
          <input type="datetime-local" formControlName="schedule" [min]="minDateTime" placeholder=" " required
            [class.is-invalid]="itemForm.get('schedule')?.touched && itemForm.get('schedule')?.invalid">
          <label>Schedule</label>
          <div class="text-danger" *ngIf="itemForm.get('schedule')?.touched && itemForm.get('schedule')?.invalid">
            Schedule is required</div>
        </div>

        <div class="form-floating-label">
          <input type="text" formControlName="location" placeholder=" " required
            [class.is-invalid]="itemForm.get('location')?.touched && itemForm.get('location')?.invalid">
          <label>Location</label>
          <div class="text-danger" *ngIf="itemForm.get('location')?.touched && itemForm.get('location')?.invalid">
            Location is required</div>
        </div>

        <div class="form-floating-label">
          <select formControlName="status" placeholder=" "
            [class.is-invalid]="itemForm.get('status')?.touched && itemForm.get('status')?.invalid">
            <option value="" disabled selected hidden></option>
            <option value="Upcoming" [disabled]="itemForm.get('status')?.value==='Ongoing'">Upcoming</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Completed" *ngIf="updateId">Completed</option>
          </select>
          <label>Status</label>
          <div class="text-danger" *ngIf="itemForm.get('status')?.touched && itemForm.get('status')?.invalid">
            Status is required</div>
        </div>

        <button type="submit" class="btn btn-custom w-100 buttonstyle"
          (click)="itemForm.invalid ? showInvalidPopup() : null">
          <ng-container *ngIf="loading; else actionText">
            <!-- <span class="spinner-border spinned-border-sm me-2" role="status" aria-hidden="true"></span> -->
            Loading...
          </ng-container>
          <ng-template #actionText>
            {{ updateId ? 'Update Event' : 'Create Event' }}
          </ng-template>
        </button>
      </form>
    </div>


  </div>
</div>