  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: auto;
  }

  .container {
    margin-top: 10px;
    height: 10%;
  }

  .row {
    display: flex;
    align-items: stretch;
    height: 0.1%;
  }

  // .right-panel{
  //   height: 100%;
  // }
  .form-section {
    background-color: #fff;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .form-section ::-webkit-scrollbar{
    display: none;
  }

  .left-panel {
    // background-color: #6f42c1;
    background: linear-gradient(135deg, #0f2027, #2c5364);
    color: white;
    // padding: 40px;
    border-radius: 10px;
    text-align: center;
  }

  .form-floating-label {
    position: relative;
    margin-bottom: 1.5rem;
  }
  // input{
  //   height: 35px;
  // }

  .form-floating-label input,
  .form-floating-label textarea,
  .form-floating-label select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background: none;
  }

  .form-floating-label label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #6c757d;
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .form-floating-label input:focus+label,
  .form-floating-label input:not(:placeholder-shown)+label,
  .form-floating-label textarea:focus+label,
  .form-floating-label textarea:not(:placeholder-shown)+label,
  .form-floating-label select:focus+label,
  .form-floating-label select:not(:placeholder-shown)+label {
    top: -10px;
    left: 5px;
    font-size: 0.85rem;
    background-color: #fff;
    padding: 0 5px;
  }

  .btn-custom {
    // background-color: #6f42c1;
    background: linear-gradient(135deg, #0f2027, #2c5364);
    color: white;
    border: none;
  }

  .btn-custom:hover {
    // background-color: #8453de;
    background: linear-gradient(135deg, #0f2027, #2c5364);
  }

  .buttonstyle:hover {
    background: rgb(89, 54, 162, 0.5);
    color: black;
  }