<!-- <app-navbar></app-navbar> -->
<home-navbar></home-navbar>
<section class="container my-4">
  <div class="d-flex filters mb-3">
    <input type="text" class="form-control w-25" placeholder="Search by title" [(ngModel)]="searchTerm"
      (input)="applyFilter()">

    <select class="form-select w-25" [(ngModel)]="sortBy" (change)="applySort()">
      <option value="">Sort By</option>
      <option value="location">Location</option>
      <option value="status">Status</option>
      <option value="schedule">Date</option>
    </select>
  </div>



  <!-- Events Table -->
  <div *ngIf="filteredEvents.length > 0; else noSearchResults">
    <div class="text-center mb-4">

      <h3 *ngIf="role === 'INSTITUTION'">Organized Events</h3>
      <h3 *ngIf="role === 'PROFESSIONAL'">Assigned Events</h3>
      <h3 *ngIf="role === 'PARTICIPANT'">Enrolled Events</h3>
      <!-- <p class="text-muted">Browse upcoming sessions and enroll.</p> -->
    </div>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Location</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let events of paginatedEvents" [routerLink]="['/event-details']"
          [queryParams]="{eventId: events.id}" class="scale-card">
          <td>{{ events.title }}</td>
          <td>{{ events.schedule | date:'medium' }}</td>
          <td>{{ events.location }}</td>
          <td>
            <span class="badge" [ngClass]="{
                'bg-primary': events.status.toLowerCase() === 'upcoming',
                'bg-warning': events.status.toLowerCase() === 'ongoing',
                'bg-success': events.status.toLowerCase() === 'completed',
                'bg-secondary': !events.status
              }">{{ events.status || 'N/A' }}</span>
          </td>

          <td class="icons">
            <a *ngIf="role === 'INSTITUTION'" (click)="navigateIfAllowed($event, events, '/add-resource')"
              data-bs-toggle="tooltip" title="Add Resource">
              <i class="bi bi-journal-richtext h4"></i>
            </a>

            <a *ngIf="role === 'INSTITUTION'" (click)="navigateIfAllowed($event, events, '/create-event')"
              data-bs-toggle="tooltip" title="Edit Event">
              <i class="bi bi-pencil-square h4"></i>
            </a>
            <a *ngIf="role === 'INSTITUTION'" (click)="navigateIfAllowed($event, events, '/assign-professional')"
              data-bs-toggle="tooltip" title="Assign Professional">
              <i class="bi bi-person-plus-fill h4"></i>
            </a>

            <a *ngIf="role === 'PROFESSIONAL'" (click)="navigateIfAllowed($event, events, '/update-event-status')"
              data-bs-toggle="tooltip" title="Update Status">
              <i class="bi bi-pencil-square h5"></i>
            </a>
            <a *ngIf="role !== 'INSTITUTION'" (click)="navigateParticipantIfAllowed($event, events, '/add-feedback')"
             data-bs-toggle="tooltip"
              title="Add Feedback">
              <i class="bi bi-chat-right-dots-fill"></i>
            </a>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center mt-3">
      <button class="" (click)="previousPage()" [disabled]="currentPage === 1">
        <i class="bi bi-arrow-left-circle-fill"></i></button>
      <span>Page {{currentPage}} of {{totalPages}}</span>
      <button class="" (click)="nextPage()" [disabled]="currentPage === totalPages"><i
          class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
  </div>


  <ng-template #noSearchResults>
    <div *ngIf="eventList.length>0;else noEventsBlock" class="text-center my-4">
      <img src="assets/empty-dashboard.png" alt="No3" height="300px" width="300px">
      <h3>No events found</h3>
    </div>
  </ng-template>


  <ng-template #noEventsBlock>
    <div class="text-center my-4">
      <img src="assets/empty-dashboard.png" alt="No3" height="300px" width="300px">
      <h4>No events available</h4>
    </div>
  </ng-template>
</section>