.footer {
  background-color: black;
  color: white;
  height: 50px;;
  padding: 8px 16px;
  //border-top: 1px solid #ddd;
  font-size: 12px;
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  z-index:1000;
  // display: flex;
  // justify-content: center;
  // padding: 0;
}
.footer p{
  margin: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
}

.footer-links {
  justify-content: center;
  display: flex;
  gap: 40px;
}


.footer-links a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: white;
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.social-icons a:hover{
  color: wheat;
}




