<footer class="footer">
  <div class="footer-top">
    <!-- Logo -->
    <div class="footer-logo">
      <img src="assets/logo.png" width="50" height="50">
    </div>

    
	
<nav class="footer-links">
  <!-- <a>About</a>
  <a>Contact</a>
  <a>Advertise</a>
  <a href="#">Terms</a>
  <a href="#">Privacy</a> -->
  <p>&copy; Financial Seminar & Workshop Management. 2025 All Rights Reserved.</p>
  <!-- <p>&copy; 2025 All Rights Reserved.</p> -->
</nav>


    <!-- Social Icons -->
    <div class="social-icons">
      
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
  

  </div>
  </div>
</footer>