.navbar {
  background-color: black;
  font-size: 25px;
}

.nav-link {
  color: #fff;

  // &:hover {
  //   color: #f8f9fa;
  //   text-decoration: underline;
  // }
}

.btn-light {
  color: #6c63ff;
  font-weight: bold;
}

.btn {
  color: black;
}
.logout{
  display: flex;
  align-items: center;
  column-gap: 10px;
  // background-color: red;
  color: black;
}