<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <!-- Title and Create Event Button -->
    <div class="d-flex align-items-center">
      <h1 class="nav-link fw-bold text-white me-3">Financial Seminar & Workshop</h1>
      <button *ngIf="role === 'INSTITUTION'" class="btn btn-light btn-sm" routerLink="/create-event">
        Create Event
      </button>
      <button *ngIf="role === 'PARTICIPANT'" class="btn btn-light btn-sm" routerLink="/all-events">
        All Events
      </button>
    </div>
    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" style="margin-left: 35px;">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li><span class="dropdown-item-text px-3">{{ username }}</span></li>
            <li><span class="dropdown-item-text px-3">{{ email }}</span></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="logout">
              <a class="dropdown-item px-3">
              <button class="w-100 d-flex align-items-center gap-2 btn btn-danger text-white text-decoration-none" (click)="logout()">
                <span>Logout</span>
                <i class="bi bi-box-arrow-right h5 mb-0 text-white"></i>
              </button>
            </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>